.App {
  text-align: center;
}


.Topo {
   background-color: #282c34;
   display: flex;
   color: rgb(199, 199, 199);
   justify-content: center
}

.QuantidadeProdutos {
   background-color: rgb(122, 122, 122);
   width: 25vw;
   height: 10vh;
   margin: 0px 5px;
}

.SeletorOrdenario {
   background-color: rgb(112, 112, 112);
   width: 25vw;
   height: 10vh;
   margin: 0px 5px;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  font-size: calc(10px + 2vmin);
  color: white;
  justify-content: space-between
}

.FiltroDiv {

   background-color: rgb(107, 109, 110);
   width: 20vw;
   height: 60vh;
   margin: 10px;
}

.CarrinhoDiv {
   background-color: rgb(107, 109, 110);
   width: 20vw;
   height: 60vh;
   margin: 5px;
   display: flex;
   flex-direction: column;
   align-items: center
}



.Opcoes {
   width: 2vw;
   height: 5vh;
   margin: 20px 0px;
}

.ProdutosDiv {
   background-color: rgb(107, 109, 110);
   width: 50%;
   height: 100%;
   margin: 2%;
   padding: 2%;
   display:grid;
   grid-template-columns: repeat(3, 1fr);
}



.cardsProdutos {
   background-color: rgb(68, 65, 65);
   width: 95%;
   height: 60vh;
   margin: 2px;
   display: flex;
   flex-direction: column;
   align-items: center
}

.CardImagem {
   width: 100%;
   height: 70%;
}

.BotaoProduto {
   width: 80%;
   height: 5%;

}

.cardsProdutos a {
   font-size: 1.2vw;
}

.ItemNoCarrinho {
   width: 95%;
   height: 10%;
   background-color: whitesmoke;

}

.ProdutoNoCarrinho {
   background-color: rgb(42, 50, 58);
     
}